   body {background-color: #e2f2a9; text-align: center;}
  h1, h2 {	
       color: #65988a;
   }
  h1 {
     font-size: 1.5em;
  }
  h2 {
     font-family: Verdana, Geneva, sans-serif;
     font-size: 1em;
      }